#including monte carlo library and source
include opendxmc/engine/enginelib32.dll
include opendxmc/engine/enginelib64.dll
include opendxmc/engine/enginelib64.so
include opendxmc/engine/enginelib32.so

recursive-include opendxmc/engine/src *

#include material data
recursive-include opendxmc/data/materials *

#include application data
include opendxmc/app/*.png


#include readme
include README.md